
{% extends 'chp/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">CEMK-Help Portal
    <small>A Python Django Project</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{% static 'chp/img/home.jpg' %}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>CEMK STUDENT HELP PORTAL is a web portal on which various types of queries and complaints related to various field such as Academic. Hostel, Civil, Library, Sports, and Ragging etc. can be made by college students. In the current system all the activities are done manually. It is very time consuming and costly. The CEMK Student Help Portal will be helpful for students and staffs as well. It will make the process more accountable,Smooth and efficient.</p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Django Web-Framework</li>
        <li>SQLite3</li>
        <li>HTML,CSS,Bootstrap3</li>
      </ul>
    </div>

  </div>
<!-- Page Heading -->
  <h1 class="my-4">Tools
    <small>Secondary Text</small>
  </h1>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://cdn-images-1.medium.com/max/1600/1*X7729FJyghz1ADa5OGhrqg.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Python</a>
          </h4>
          <p class="card-text">Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
          It is used for:
              web development (server-side),
              software development,
              mathematics,
              system scripting.
</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://caktus-website-production-2015.s3.amazonaws.com/media/blog-images/django-logo.gif" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Django</a>
          </h4>
          <p class="card-text">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://cdn-images-1.medium.com/max/1200/1*lduEjOI-EQltoRbmKSICeA.jpeg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Bootstrap</a>
          </h4>
          <p class="card-text">Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery     </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://resources.jetbrains.com/storage/products/pycharm/img/meta/pycharm_1280x800.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">PyCharm</a>
          </h4>
          <p class="card-text">PyCharm is an integrated development environment (IDE) used in computer programming, specifically for the Python language. It is developed by the Czech company JetBrains.[6] It provides code analysis, a graphical debugger, an integrated unit tester, and supports web development with Django.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://bestcodingacademy.com/wp-content/uploads/2018/10/Pygal-800-600.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Pygal</a>
          </h4>
          <p class="card-text">Pygal is a dynamic SVG charting library. It features various graph types: Bar charts; Line charts; XY charts; Pie charts; Radar charts; Dot charts; Pyramid charts; Funnel charts; Gauge charts;
</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://brand.heroku.com/static/media/heroku-logotype-spacing-horizontal.7594cf7f.svg" alt="" height="150"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Heroku</a>
          </h4>
          <p class="card-text">Heroku is a cloud platform as a service (PaaS) supporting several programming languages. Heroku, one of the first cloud platforms, has been in development since June 2007, when it supported only the Ruby programming language, but now supports Java, Node.js, Scala, Clojure, Python, PHP, and Go.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/SQLite370.svg/1280px-SQLite370.svg.png" alt="" height="150"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">SQLite3</a>
          </h4>
          <p class="card-text">SQLite is ACID-compliant and implements most of the SQL standard, generally following PostgreSQL syntax. However, SQLite uses a dynamically and weakly typed SQL syntax that does not guarantee the domain integrity.[6] This means that one can, for example, insert a string into a column defined as an integer.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://mdn.mozillademos.org/files/13979/admin_book_add.png" alt="" height="150"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Crispy Forms</a>
          </h4>
          <p class="card-text">django-crispy-forms provides you with a |crispy filter and crispy tag that will let you control the rendering behavior of yours Django forms in a very elegant and DRY way. Have full control without writing custom form templates. All this without breaking the standard way of doing things in Django, so it plays nice with any other form application.  </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}